.container {
  display: flex;
  height: 100vh;
}

.leftColumn {
  flex: 1;
  background-color: #001529;
  color: #ffffff;
  background-image: url('/LoginLogo.jpg');
  background-size: cover;
}

.contentContainer {
  padding: 30px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.quote {
  font-size: 18px;
  margin-bottom: 30px;
}

.imagesContainer {
  display: flex;
}

.rightColumn {
  flex: 0.3;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginContainer {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.loginTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
